<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Django Web Programming{% endblock title%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
           integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% block extra-style %}{% endblock %}
</head>
<body style="padding-top: 90px">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Django Web Programming</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{% url 'home' %}" class="nav-link">
                    Home <span class="sr-only">current</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'bookmark:index' %}" class="nav-link">Bookmark</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog:index' %}" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'photo:index' %}" class="nav-link">Photo</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                    Util
                </a>
                <div class="dropdown-menu">
                    <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'blog:post_archive' %}" class="dropdown-item">Archive</a>
                    <a href="{% url 'blog:search' %}" class="dropdown-item">Search</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link disabled" tabindex="-1">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                {% if user.is_active %}
                    <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">
                        <i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                        <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
                    </div>
                {% else %}
                    <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">
                        <i class="fas fa-user"></i>&ensp;Anonymous&ensp;
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                        <a href="{% url 'register' %}" class="dropdown-item">Register</a>
                    </div>
                {% endif %}
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'blog:search' %}" method="post">
            {% csrf_token %}
            <input type="search" class="form-control mr-sm-2" name="search_word" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container bg-warning">
    {% block content %}{% endblock %}
</div>
{% block footer %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/ee1c3da296.js"></script>
{% block extra-script %}{% endblock extra-script %}
</body>
</html>